@* @using Agrisustain_Jamaica.Models.Weather *@
@using Agrisustain_Jamaica.Services;
@inject Agrisustain_Jamaica.Services.WeatherService CurrentWeather;

@{

    await CurrentWeather.GetCurrentWeatherData();
    var currentWeatherCondition = CurrentWeather.GetCurrentWeatherCondition().Result.ElementAt(0);

    var currentForecast = CurrentWeather.GetCurrentMainForecast().Result.ElementAt(0);
    var currentWind = CurrentWeather.GetCurrentWind().Result.ElementAt(0);
    var visibility = CurrentWeather.GetCurrentWeatherVisibility().Result.ElementAt(0);

    var currentSunriseAndSunset = CurrentWeather.GetCurrentSunriseAndSunset().Result.ElementAt(0);

    DateTime sunrise = DateTimeOffset.FromUnixTimeSeconds(currentSunriseAndSunset.Sunrise).UtcDateTime;
    DateTime sunset = DateTimeOffset.FromUnixTimeSeconds(currentSunriseAndSunset.Sunset).UtcDateTime;

    var hourlyWeatherForecast = CurrentWeather.GetHourlyWeatherForecast().Result;
    var hourlyWeatherForecasts = CurrentWeather.GetHourlyWeatherForecasts().Result;

  
}


<div class="py-3 weather-header">
    <div class="container">
        <div class="d-flex weather-search align-items-center mb-4">
            <div class="text">
                <h1 class="fw-bold m-0">Weather Forecast</h1>
            </div>

            <div class="d-flex justify-content-end location">
                 <div class="position-relative search-input">
                      <input type="search" />
                      <i class="fa-solid fa-magnifying-glass search-icon"></i>
                 </div>
              
                <i class="fa-solid fa-location-crosshairs location-icon"></i>
            </div>

        </div>
        <div class="row flex-column flex-md-row weather-container">
            <div class="col location">
                <p>Southfield, St. Elizabeth</p>
            </div>
            <div class="col weather-details">
                <div class="row">
                    <div class="mb-2 col-left">
                        @{
                           string imgIcon = $"http://openweathermap.org/img/w/{currentWeatherCondition.Icon}.png";
                        }
                        <p class="text-capitalize mb-0">@currentWeatherCondition.Description<span><img src=@imgIcon /> </span> </p>
                        <p>@currentForecast.Temperature°C</p>
                    </div>
                </div>

                <div class="row lh-1 right-col flex-container">
                    <div class="col weather-detail">
                        <p>Wind</p>
                        @* @{ double windspeed = windData.Speed * 3.6;} *@
                        <p>@currentWind.Speed km/h</p>
                    </div>
                    <div class="col weather-detail">
                        <p>Humidity</p>
                        <p>@currentForecast.Humidity%</p>
                    </div>
                    <div class="col weather-detail">
                        <p>Atmospheric Pressure</p>
                        <p>@currentForecast.Pressure hPa</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="weather-cards py-3">
    <div class="container">
        <div class="d-grid grid-container">
            <div class="col-left">
                <div class="p-3 weather-card now-weather-container">
                    <div class="row flex-column">
                        <div class="lh-1 col border-bottom mb-3">
                            <p class="fw-bold">Now</p>
                          @*   <p class="fs-4 m-0">@currentWeather °C</p> *@
                            <p class="overcast-text">@currentWeatherCondition.Description</p>
                        </div>
                        <div class="col">
                            <p><span><i class="fa-regular fa-calendar calendar-icon"></i></span>@DateTime.Now.ToString("dddd, MMMM d, yyyy")</p>
                            <p><span><i class="fa-solid fa-location-dot location-icon"></i></span>Southfield, St. Elizabeth</p>
                        </div>
                    </div>
                </div>
                <div class="hourly-weather-container">
                    <div class="container">
                        <h3>Today at</h3>
                        <div class="row gap-2 slider-container mb-5">
                            @{
                                int count = 0;
                                foreach(var timeOfDay in hourlyWeatherForecast)
                                {
                                   
                                    DateTime time = DateTimeOffset.FromUnixTimeSeconds(timeOfDay.Time).UtcDateTime;
                                      if (@time.ToShortDateString() != DateTime.Now.ToShortDateString()) break;
                                    string icon = $"http://openweathermap.org/img/w/{hourlyWeatherForecasts.ElementAt(count).Icon}.png";
                                        <div class="slider-item">
                                        <p>@time.ToShortTimeString()</p>
                                        <img src=@icon />
                                        <p>@hourlyWeatherForecasts.ElementAt(count).Description</p>

                                    </div>

                                    count++;

                                 
                                  // <p>Time: @time.ToShortDateString() | @DateTime.Now.ToShortDateString() </p>
                                }
                                
                            }
                           @*  <div class="slider-item">
                                <p>03 PM</p>
                                <i class="fa-solid fa-cloud-sun"></i>
                                <p>25°C</p>
                            </div>
                            <div class="slider-item">
                                <p>03 PM</p>
                                <i class="fa-solid fa-cloud-sun"></i>
                                <p>25°C</p>
                            </div>
                            <div class="slider-item">
                                <p>03 PM</p>
                                <i class="fa-solid fa-cloud-sun"></i>
                                <p>25°C</p>
                            </div>
                            <div class="slider-item">
                                <p>03 PM</p>
                                <i class="fa-solid fa-cloud-sun"></i>
                                <p>25°C</p>
                            </div>

                            <div class="slider-item">
                                <p>03 PM</p>
                                <i class="fa-solid fa-cloud-sun"></i>
                                <p>12 km/h</p>
                            </div>
                            <div class="slider-item">
                                <p>03 PM</p>
                                <i class="fa-solid fa-cloud-sun"></i>
                                <p>12 km/h</p>
                            </div>
                            <div class="slider-item">
                                <p>03 PM</p>
                                <i class="fa-solid fa-cloud-sun"></i>
                                <p>12 km/h</p>
                            </div>
                            <div class="slider-item">
                                <p>03 PM</p>
                                <i class="fa-solid fa-cloud-sun"></i>
                                <p>12 km/h</p>
                            </div> *@
                        </div>
                    </div>

                </div>
            </div>
            <div class="right-col">
                <div class="weather-card p-3">
                    <h3>Today's highlights</h3>
                    <div class="row gap-4">
                        <div class="d-flex flex-column flex-md-row gap-4 flex-container">
                             <div class="col weather-highlight">
                            <div class="d-flex flex-column air-quality-content">
                                <div class="d-flex header justify-content-between align-items-center ">
                                    <h4 class="m-0">Air Quality Index</h4>
                                    <p class="m-0 btn-highlight">Good</p>
                                </div>

                                <div class="row align-items-center mt-3 details">
                                    <div class="col">
                                        <i class="fs-1 fa-solid fa-wind"></i>
                                    </div>
                                    <div class="col">
                                        <p>23.3 PM25</p>
                                        <p>23.3 PM25</p>
                                    </div>
                                    <div class="col">
                                        <p>23.3 PM25</p>
                                        <p>23.3 PM25</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                             <div class="col weather-highlight">
                            <div class="d-flex flex-column air-quality-content">
                                <div class="d-flex header justify-content-between align-items-center ">
                                    <h4 class="m-0">Sunset and Sunrise</h4>
                                </div>

                                <div class="row align-items-center mt-3 details">
                                    @*   <div class="col">
                                    <i class="fa-solid fa-wind"></i>
                                    </div> *@
                                    <div class="col d-flex gap-2 align-items-center">
                                        <i class="fa-regular fa-sun"></i>
                                        <div class="d-flex flex-column group-text">
                                            <p class="text-uppercase m-0">Sunrise</p
                                            <p>@sunrise.ToString("hh:mm tt")</p>
                                        </div>
                                    </div>
                                    <div class="col d-flex gap-2 align-items-center">
                                        <i class="fa-solid fa-sun"></i>
                                        <div class="d-flex flex-column group-text">
                                            <p class="text-uppercase m-0">Sunset</p>
                                            <p>@sunset.ToString("hh:mm tt")</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="d-flex flex-column gap-4 flex-md-row justify-content-md-between flex-container">
                            <div class="d-flex flex-column gap-4 w-100 flex-md-row flex-col">
                                 <div class="col weather-highlight">
                            <div class="d-flex flex-column humidity-content">
                                <div class="d-flex header justify-content-between align-items-center ">
                                    <h4 class="m-0">Humidity</h4>
                                </div>

                                <div class="row align-items-center mt-3 justify-content-between details">
                                    <div class="col d-flex justify-content-between">
                                        <i class="fa-solid fa-droplet"></i>
                                        <p>@currentForecast.Humidity%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col weather-highlight">
                            <div class="d-flex flex-column pressure-content">
                                <div class="d-flex header justify-content-between align-items-center ">
                                    <h4 class="m-0">Pressure</h4>
                                </div>

                                <div class="row align-items-center mt-3 justify-content-between details">
                                    <div class="col d-flex justify-content-between">
                                        <i class="fa-brands fa-superpowers"></i>
                                        <p>@currentForecast.Pressure hPa</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                            </div>
                             <div class="d-flex flex-column gap-4 w-100 flex-md-row flex-col">
                            <div class="col weather-highlight">
                            <div class="d-flex flex-column visibility-content">
                                <div class="d-flex header justify-content-between align-items-center ">
                                    <h4 class="m-0">Visibility</h4>
                                </div>

                                <div class="row align-items-center mt-3 justify-content-between details">
                                    <div class="col d-flex justify-content-between">
                                        <i class="fa-solid fa-eye"></i>
                                        @* @{ decimal visibility = currentWeather[0].Visibility / 1000; } *@
                                        <p>@visibility.Visibility Km</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="col weather-highlight">
                            <div class="d-flex flex-column feels-like-content">
                                <div class="d-flex header justify-content-between align-items-center ">
                                    <h4 class="m-0">Feels like</h4>
                                </div>

                                <div class="row align-items-center mt-3 justify-content-between details">
                                    <div class="col d-flex justify-content-between">
                                        <i class="fa-solid fa-temperature-three-quarters"></i>
                                        @* @{ double feelsLike = Math.Round(weatherHighlightsData.FeelsLike - 273.15, 2); } *@
                                        <p>@currentForecast.FeelsLike °C</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
                 <div class="five-days-forecast-container">
                    <h3>5 days forecast</h3>
                    <div class="p-3 weather-card">
                        <div class="row five-days-forecast">
                            @{
                                 int val = 0;
                                foreach(var forecast in hourlyWeatherForecast)
                                {
                                   
                                    DateTime date = DateTimeOffset.FromUnixTimeSeconds(forecast.Time).UtcDateTime;
                                     string forecastIcon = $"http://openweathermap.org/img/w/{hourlyWeatherForecasts.ElementAt(val).Icon}.png";
                                    if (@date.ToShortDateString() != DateTime.Now.ToShortDateString())
                                    {
                                         <div class="col-3 forecast-details">
                                            <div class="forecast">
                                                 <img src=@forecastIcon />
                                            </div>
                                            <div class="date">
                                             <p>@date</p>
                                             </div>
                                            <div class="day">
                                             <p>@forecast.Time.ToString("dd")</p>
                                            </div>
                                        </div>

                                        val++;
                                    }    
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>    
    </div>