@using System.Text
@using System.Text.Json
@using System.Text.Json.Nodes
@using System.Text.Json.Serialization
@{
    ViewData["Title"] = "Agriculture Information";
}

<style>
    .farmers-hub-page textarea {
        border: none;
    }
</style>

<section class="farmers-hub-page article-page">
    <div class="container py-5">
        <article>
            <div class="mb-4 | header-container">
                <h1 class="fw-bold | main-heading">Agriculture Information</h1>
                <div class="d-flex justify-content-between | flex-container">
                    <p class="fst-italic">5 minutes read</p>
                    <a class="read-next-btn">Read next</a>
                </div>
            </div>

            <img class="img-fluid w-100 | article-img" src="~/agri-info.jpg" alt="two men on a farm" />
            <div class="fs-5 mt-5  article-content">
               @*  <div class="mt-5 | main-intro-text">
                    <p class="">@blogIntroText.ElementAt(0)</p>
                </div> *@
                <div class="sub-sections">

                    <div class="content-section">
                       
                        @{
                            
                            <div class="col mb-3 p-0 | style-all-text-container">
                                <h2 class="fw-bold fs-3">Agricultural Best Practices</h2>
                                <p>@show_abp()</p>
                                
                            </div>
                            <div class="col mb-3 p-0 | styled-text-container">
                                <h2 class="fw-bold fs-3">Crop Management Tips</h2>
                                <p>@show_tips()</p>
                            </div>
                            <div class="col mb-3 p-0 | styled-text-container">
                                <h2 class="fw-bold fs-3">Pest Control Strategies</h2>
                                <p>@show_pcs()</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </article>
    </div>

</section>
}

@* <h1>Agriculture Information</h1> *@

@{
    // <div class="card">
    //     @Html.Label("Agricultural Best Practices")<br />
    //     @Html.TextArea("abp",show_abp(),new{rows=5,cols=100})<br />
    // </div>
    // <div class="card">
    //     @Html.Label("Crop Management Tips")<br />
    //     @Html.TextArea("tips",show_tips(),new{rows=3,cols=100})<br />
    // </div>
    // <div class="card">
    //     @Html.Label("Pest Control Strategies")<br />
    //     @Html.TextArea("pcs",show_pcs(),new{rows=5,cols=100})
    // </div>
}
@functions {
    public string show_abp()
    {
        string abp = null;
        string info = File.ReadAllText("best_practices.json");
        var j_data = JsonSerializer.Deserialize<JsonObject>(info);
        StringBuilder sb = new StringBuilder();
        for (int i = 0; i < 3; i++)
        {
            sb.Append(j_data["abp"][i]["bp"] + " ");
        }
        abp = sb.ToString();
        return abp;
    }
    public string show_tips()
    {
        string tip = null;
        Random rand = new Random();
        string info = File.ReadAllText("crop_management.json");
        var j_data = JsonSerializer.Deserialize<JsonObject>(info);
        int i = rand.Next(3);
        tip = j_data["tips"][i]["tip"].ToString();
        return tip;
    }
    public string show_pcs()
    {
        string pcs = null;
        string info = File.ReadAllText("pest_control.json");
        var j_data = JsonSerializer.Deserialize<JsonObject>(info);
        StringBuilder sb = new StringBuilder();
        for (int i = 0; i < 3; i++)
        {
            sb.Append(j_data["pcs"][i]["cs"] + " ");
        }
        pcs = sb.ToString();
        return pcs;
    }
}
