
@{
    ViewData["Title"] = "Marketplace";
}

<section class="d-flex flex-column align-items-center justify-content-center gap-3 marketplace-hero">
    <h1 class="fs-1 text-white">The Marketplace</h1>
	<a href="#products-section" class="btn text-uppercase p-2 px-4 shop-now-btn">Shop now</a>
</section>
<section id="products-section" class="py-5">
    <div class="container">
        <h2 >Featured Products</h2>
        <div class="mt-5 | products">
            <div class="row align-items-stretch">
			</div>
		</div>
	</div>
</section>

<script type="module">
	import Products from "/js/Products.js";
	
	Products.map(product => {
		document.querySelector(".products > .row").innerHTML += `
					 <div id=${product.id} class="col-sm-6 col-md-3 mb-3">
								<div class="d-flex flex-column p-3 h-100 | product-card">
									<h3 class="produce-type card-title">${product.type}</h3>
									<h4 class="produce-name card-subtitle mb-2 text-muted">${product.name}</h4>
										<div class="product-img">
											<img src=${product.image} alt="watermelon" />
										</div>
										<div class="row flex-column flex-lg-row p-0 m-0 mt-4 gap-2 | product-info">
										<div class="col | review-and-price">
											<div class=" mb-3 | rating">
												<p>reviews</p>
											</div>
											<div class="price">
												<p class="fw-bold">$${product.price} <span>/lb</span></p>
											</div>
										</div>
										<div class="col quantity-col">
											<p>Serving Chart</p>
											<div class="d-flex flex-column flex-xl-row gap-2 mt-3 | quantity">
												<span>Qty</span>
												<div class="quantity-input">
													<button class="decrement-btn">-</button>
													<input class="text-center" type="number" value="1" />
													<button class="increment-btn">+</button>
												</div>
											</div>
										</div>
										<button class="add-to-cart btn btn-primary">Add to Cart</button>
									</div>
								</div>
						</div>
			`
	});


	//const addToCartBtns = document.querySelectorAll(".add-to-cart");
	const products = document.querySelector(".products");
	const inCart = document.querySelector("header .in-cart");
	const quantityInput = document.querySelector(".quantity-input > input")
	// let quantityAmount = 1;
	let itemsInCart = 0;
	let itemClicked;
	let productId;
	products.addEventListener("click", (e) => {
		if (e.target.classList.contains("add-to-cart")) {
			itemClicked = e.target.closest(".product-card").parentElement;
			itemsInCart++;
			inCart.textContent = itemsInCart;
			productId = e.target.parentElement.parentElement.parentElement.getAttribute("id");

	const productData = Products.filter(product => product.id == productId);

	//console.log(productData)

		}

		if (itemsInCart > 0) {
			inCart.style.transform = "scale(1)";
		}

		if(e.target.classList.contains("decrement-btn")) {
			let quantityAmount = +e.target.closest(".quantity-input").querySelector("input").value;
			if(quantityAmount == 1) {
				return;
			} else {
				quantityAmount--;
			}
			e.target.closest(".quantity-input").querySelector("input").value = quantityAmount;
	
		} else if(e.target.classList.contains("increment-btn")) {
			let quantityAmount = +e.target.closest(".quantity-input").querySelector("input").value;
			quantityAmount++;
			e.target.closest(".quantity-input").querySelector("input").value = quantityAmount;
		}
	});

</script>


@* <section class="p-5">
				
				<div class="row">
					<div class="col-lg-4 col-md-6 mb-4">
						<a href="product.html" style="text-decoration: none; color: #193631;">
							<div class="product-card card h-100">
								<h3 class="produce-type card-title">Fruit</h3>
								<h4 class="produce-name card-subtitle mb-2 text-muted">Watermelon</h4>
									 <img src="~/images/watermelon.png" alt="watermelon" />
								<div class="card-body">
									<div class="rating">Rating: 4.5</div>
									<div class="form-inline">
										<label for="price" class="mr-2">Price:</label>
										<p class="price card-text">$20.00</p>
									</div>
									<div class="form-inline">
										<label for="quantity" class="mr-2">Quantity:</label>
										<input type="number" id="quantity" name="quantity" min="1" max="100" class="form-control form-control-sm">
									</div>
									<button class="add-to-cart btn btn-primary">Add to Cart</button>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-6 mb-4">
						<div class="product-card card h-100">
							<h3 class="produce-type card-title">Fruit</h3>
							<h4 class="produce-name card-subtitle mb-2 text-muted">Canteloupe</h4>
							<img src="~/images/canteloupe.png" alt="canteloupe"/>
							<div class="card-body">
								<div class="rating">Rating: 4.5</div>
								<div class="form-inline">
									<label for="price" class="mr-2">Price:</label>
									<p class="price card-text">$20.00</p>
								</div>
								<div class="form-inline">
									<label for="quantity" class="mr-2">Quantity:</label>
									<input type="number" id="quantity" name="quantity" min="1" max="100" class="form-control form-control-sm">
								</div>
								<button class="add-to-cart btn btn-primary">Add to Cart</button>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 mb-4">
						<div class="product-card card h-100">
							<h3 class="produce-type card-title">Fruit</h3>
							<h4 class="produce-name card-subtitle mb-2 text-muted">Otaheiti Apple</h4>
							<img src="~/images/oapple.png" alt="apple"/>
							<div class="card-body">
								<div class="rating">Rating: 4.5</div>
								<div class="form-inline">
									<label for="price" class="mr-2">Price:</label>
									<p class="price card-text">$20.00</p>
								</div>
								<div class="form-inline">
									<label for="quantity" class="mr-2">Quantity:</label>
									<input type="number" id="quantity" name="quantity" min="1" max="100" class="form-control form-control-sm">
								</div>
								<button class="add-to-cart btn btn-primary">Add to Cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 mb-4">
						<div class="product-card card h-100">
							<h3 class="produce-type card-title">Vegetable</h3>
							<h4 class="produce-name card-subtitle mb-2 text-muted">White Yam</h4>
							<img src="~/images/whiteyam.png" alt="white yam" class="card-img-top">
							<div class="card-body">
								<div class="rating">Rating: 4.5</div>
								<div class="form-inline">
									<label for="price" class="mr-2">Price:</label>
									<p class="price card-text">$20.00</p>
								</div>
								<div class="form-inline">
									<label for="quantity" class="mr-2">Quantity:</label>
									<input type="number" id="quantity" name="quantity" min="1" max="100" class="form-control form-control-sm">
								</div>
								<button class="add-to-cart btn btn-primary">Add to Cart</button>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 mb-4">
						<div class="product-card card h-100">
							<h3 class="produce-type card-title">Vegetable</h3>
							<h4 class="produce-name card-subtitle mb-2 text-muted">Yellow Yam</h4>
							<img src="~/images/yellowyam.png" alt="yellow yam" class="card-img-top">
							<div class="card-body">
								<div class="rating">Rating: 4.5</div>
								<div class="form-inline">
									<label for="price" class="mr-2">Price:</label>
									<p class="price card-text">$20.00</p>
								</div>
								<div class="form-inline">
									<label for="quantity" class="mr-2">Quantity:</label>
									<input type="number" id="quantity" name="quantity" min="1" max="100" class="form-control form-control-sm">
								</div>
								<button class="add-to-cart btn btn-primary">Add to Cart</button>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 mb-4">
						<div class="product-card card h-100">
							<h3 class="produce-type card-title">Vegetable</h3>
							<h4 class="produce-name card-subtitle mb-2 text-muted">Sweet Potato</h4>
							<img src="~/images/sweetpotato.png" alt="sweet potato" class="card-img-top">
							<div class="card-body">
								<div class="rating">Rating: 4.5</div>
								<div class="form-inline">
									<label for="price" class="mr-2">Price:</label>
									<p class="price card-text">$20.00</p>
								</div>
								<div class="form-inline">
									<label for="quantity" class="mr-2">Quantity:</label>
									<input type="number" id="quantity" name="quantity" min="1" max="100" class="form-control form-control-sm">
								</div>
								<button class="add-to-cart btn btn-primary">Add to Cart</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 mb-4">
						<div class="product-card card h-100">
							<h3 class="produce-type card-title">Vegetable</h3>
							<h4 class="produce-name card-subtitle mb-2 text-muted">Carrot</h4>
							<img src="~/images/carrots.png" alt="carrot" class="card-img-top">
							<div class="card-body">
								<div class="rating">Rating: 4.5</div>
								<div class="form-inline">
									<label for="price" class="mr-2">Price:</label>
									<p class="price card-text">$20.00</p>
								</div>
								<div class="form-inline">
									<label for="quantity" class="mr-2">Quantity:</label>
									<input type="number" id="quantity" name="quantity" min="1" max="100" class="form-control form-control-sm">
								</div>
								<button class="add-to-cart btn btn-primary">Add to Cart</button>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 mb-4">
						<div class="product-card card h-100">
							<h3 class="produce-type card-title">Vegetable</h3>
							<h4 class="produce-name card-subtitle mb-2 text-muted">Cucumber</h4>
							<img src="~/images/cucumber.png" alt="cucumber" class="card-img-top">
							<div class="card-body">
								<div class="rating">Rating: 4.5</div>
								<div class="form-inline">
									<label for="price" class="mr-2">Price:</label>
									<p class="price card-text">$20.00</p>
								</div>
								<div class="form-inline">
									<label for="quantity" class="mr-2">Quantity:</label>
									<input type="number" id="quantity" name="quantity" min="1" max="100" class="form-control form-control-sm">
								</div>
								<button class="add-to-cart btn btn-primary">Add to Cart</button>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 mb-4">
						<div class="product-card card h-100">
							<h3 class="produce-type card-title">Vegetable</h3>
							<h4 class="produce-name card-subtitle mb-2 text-muted">Cabbage</h4>
							<img src="~/images/cabbage.png" alt="cabbage" class="card-img-top">
							<div class="card-body">
								<div class="rating">Rating: 4.5</div>
								<div class="form-inline">
									<label for="price" class="mr-2">Price:</label>
									<p class="price card-text">$20.00</p>
								</div>
								<div class="form-inline">
									<label for="quantity" class="mr-2">Quantity:</label>
									<input type="number" id="quantity" name="quantity" min="1" max="100" class="form-control form-control-sm">
								</div>
								<button class="add-to-cart btn btn-primary">Add to Cart</button>
							</div>
						</div>
					</div>
			</section>
		 *@
		
	








@* <section class="text-center p-3 py-5 lh-1 featured">
    <div class="container">
        <div id="featured-content">
            <p class="fs-5">Develop healthy eating habits</p>
            <p class="fw-bold fs-2 text-uppercase">Featured produce</p>
            <div class="row mt-5 products" id="products">
                <div class="col product">
                    <img src="/dasheen.jpg" alt="" />
                </div>
                <div class="col product">
                    <img src="/pumpkin.png" alt="" />
                </div>
                <div class="col product">
                    <img src="/sweet-potato.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    function atc() {
        var prd = JSON.parse(document.getElementById("hf").value);
        var opt = document.getElementById("option").value;
        var cart = document.getElementById("cart");
        var quant = parseInt(document.getElementById("quantity").value);
        var tot = parseFloat(document.getElementById("total").innerHTML);
        for (var i = 0; i < prd.length; i++) {
            if (prd[i].id == opt) {
                //if (quant <= 0) {window.alert("quantity is negative or zero");break; }
                if (quant <= prd[i].quantity) {
                    var mult = parseFloat(prd[i].price) * quant;
                    cart.innerHTML += prd[i].id + " " + prd[i].name + " " + prd[i].price + " * " + quant + " " + mult + "<br/>";
                    tot = tot + mult;
                    document.getElementById("total").innerHTML = tot;
                    window.alert(opt + "added!");
                    break;
                }
                else { window.alert("error in quantity"); }
            }
        }
    }
    function cc() {
        document.getElementById("cart").innerHTML = "";
        document.getElementById("total").innerHTML = "0.00";
    }
    function c_o() {
        document.getElementById("Hidden1").value = document.getElementById("cart").innerHTML + " " + document.getElementById("total").innerHTML;
        window.alert(document.getElementById("Hidden1").value + " added to the check out");
    }
</script>
@using System.Data.SqlClient
@using System.Text
@using System.Text.Json
@using System.Text.Json.Nodes
@using System.Text.Json.Serialization
@{
    List<Item> lst = new List<Item>();
    //string constr = @"Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=master;Integrated Security=True;Connect Timeout=30;Encrypt=False;";
    var builder = WebApplication.CreateBuilder();
    string constr = builder.Configuration.GetConnectionString("Agri_Sus");
    SqlConnection conn = new SqlConnection(constr);
    conn.Open();
    SqlCommand comm = new SqlCommand(constr, conn);
    comm.Connection = conn;
    comm.CommandText = "use agri_sus;select * from [dbo].[table]";
    SqlDataReader reader = comm.ExecuteReader();
    while (reader.Read())
    {
        Item item = new Item();
        item.id = (int)reader["id"];
        item.name = (string)reader["product_name"];
        item.price = (float)Convert.ToDouble(reader["price"]);
        item.quantity = (int)reader["quantity"];
        byte[] img = (byte[])reader["image"];
        string img_s = Convert.ToBase64String(img, 0, img.Length);
        item.image = "data:image/jpg;base64," + img_s;
        lst.Add(item);
    }
    foreach (Item i in lst)
    {
        <div class="card">
            <table border="1">
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>price</th>
                    <th>quantity</th>
                    <th></th>
                </tr>
                <tr>
                    <td>@i.id</td>
                    <td>@i.name</td>
                    <td>@i.price</td>
                    <td>@i.quantity</td>
                    <td><img alt="" src="@i.image" height="14.5%" width="14.5%" /></td>
                </tr>
            </table>
        </div>
    }
    var j_data = JsonSerializer.Serialize(lst);
    @Html.Hidden("hf",j_data);
    List<SelectListItem> opt = new List<SelectListItem>();
    foreach (var option in lst)
    {
        opt.Add(new SelectListItem { Text = option.name, Value = option.id.ToString() });
    }
    @Html.DropDownList("option",(IEnumerable<SelectListItem>)opt)
    @Html.TextBox("quantity", null, new { @type = "number" })
    <input id="atc" type="button" value="add to cart" onclick="atc()" />
    <input id="cc" type="button" value="clear cart" onclick="cc()" />
    <input id="c_o" type="button" value="check out" onclick="c_o()" />
    <br />
    <hr />
    <p>The cart</p>
    <div class="card" id="cart"></div>
    <label id="total">0.00</label>
    <hr />
    <p>The checkout</p>
    <form method="post" action="Confirmation">
        <label>name</label>@Html.TextBox("cust_name")<br />
        <label>address</label>@Html.TextBox("cust_addr")<br />
        <label>email</label>@Html.TextBox("cust_em", null, new { @type = "email" })<br />
        <label>card number</label>@Html.TextBox("card_num", null, new { @maxlength = "16" })<br />
        <label>cvv</label>@Html.TextBox("cvv", null, new { @maxlength = "3" })<br />
        <label>expiry date</label>@Html.TextBox("exp_d", null, new { @type = "date" })<br />
        <img alt="" src="https://seeklogo.com/images/C/credit-card-icons-logo-9CC8F1BFCD-seeklogo.com.png" height="47.3" />
        <select id="card_type" name="card_type">
            <option value="visa">Visa</option>
            <option value="mastercard">Mastercard</option>
        </select>
        @Html.Hidden("Hidden1")
        <input id="p_o" type="submit" value="place order" />
    </form>
}
<a asp-controller="Home" asp-action="R_sys">Rate the items</a> *@
