
@{
    ViewData["Title"] = "R_Confirmation";
}
@model Agrisustain_Jamaica.Models.Item_r
<h1>R_Confirmation</h1>
<p>@Model.id</p>
@Model.name<br />
@Model.r_amt<br />
@Model.rev<br />
@Model.dateTime<br />
<p>This rating and review has been logged</p>
