@using Agrisustain_Jamaica.Models
@using Agrisustain_Jamaica.Services
@using Microsoft.AspNetCore.Components.Web
@inject JSONFilePlantingGuidesService PlantingGuidesService


@{

    var PlantingGuidesInfo = PlantingGuidesService.GetPlantingGuidesInfo();
    var CropsInfo = PlantingGuidesService.GetData();

    string mainHeading = "";
    string blogID = "";

    List<string> blogIntroText = new List<string>();

    if (PlantingGuidesInfo != null)
    {
        foreach (var info in PlantingGuidesInfo)
        {
            if (info.PostID != null)
            {
                blogID = info.PostID;
            }

            if (info.MainHeading != null)
            {
                mainHeading = info.MainHeading;
            }

            if (info.BlogIntro != null)
            {
                for (int i = 0; i < info.BlogIntro.Length; i++)
                {
                    blogIntroText.Add(info.BlogIntro[i]);
                }

            }

        }
    }

    <section class="plantingGuides-page article-page">
        <div class="container py-5">
            <article>
                <div class="header-container mb-4">
                    <h1 class="fw-bold | main-heading">@mainHeading</h1>
                    <div class="d-flex justify-content-between | flex-container">
                        <p class="fst-italic">5 minutes read</p>
                        <a asp-area="" asp-controller="Home" asp-action="agriInfo" class="read-next-btn">Read next</a>
                    </div>
                </div>
                <img class="img-fluid w-100 | article-img" src="~/planting-guides-img.jpg" alt="corn fields" />
                <div class="fs-5 | article-content">
                        <div class="mt-5 | main-intro-text">
                            @{
                                foreach (string text in blogIntroText)
                                {
                                    <p>@text</p>
                                }
                            }
                        </div>
                    <div class="sub-sections">
                        <div class="content-section">
                            @{
                                if (CropsInfo != null)
                                {
                                    string season = "";
                                    foreach (var crop in CropsInfo)
                                    {
                                        if (crop.CropInfo != null && crop.Seasons.Length > 1) { season = "seasons"; } else { season = "season"; }

                                        <div class="col mb-3 p-0 |">
                                            <h2 class=" fw-bold fs-3">@crop.CropName</h2>
                                            <div class="row">
                                                <p class="fw-bold">Best @season for planting:</p>
                                                <ul class="d-flex justify-content-center gap-2 p-2 rounded-1 mx-md-auto">
                                                    @for (int i = 0; i < crop.Seasons.Length; i++)
                                                    {
                                                        <li class="fs-6 style-all-text-container"><span class="mr-2">&star;</span>@crop.Seasons[i]</li>
                                                    }
                                                </ul>
                                            </div>

                                            @for (int i = 0; i < crop.CropInfo.Length; i++)
                                            {

                                                <p>@crop.CropInfo[i]</p>
                                            }

                                        </div>

                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
                
            </article>
        </div>
      
    </section>

}



