@model Agrisustain_Jamaica.Models.CropTracking.FieldEventsRecordModel

<section class="bg-gradient p-5 mb-5 banner resources-banner">
    <div class="wrapper">
        <div class="row flex-column flex-md-row justify-content-md-between align-items-center flex-container">
            <div class="col col-left">
                <h1 class="fw-bolder lh-1 mb-4">
                    Field Events Record
                </h1>
                <p>Hello, user! Here is a record of all your past and present field activities</p>
                <div class="d-flex button-group">
                    <a class="btn btn-secondary w-50" asp-area="" asp-controller="CropTracking" asp-action="Homepage">Return to Crop Tracking homepage</a>
                </div>
            </div>
            <div class="col d-flex justify-content-center justify-content-md-end align-items-start right-col">
                <img src="~/images/corn-clipart-crop.png" alt="corn" />
            </div>
        </div>
    </div>
</section>
<section class="crop-tracking-view">
    <div class="container-fluid">
        <div class="[ mt-5 table-view-container ]">

            @{
                if (Model.FertilizationHistory.Count > 0)
                {
                    <table class="table">
                        <caption class="caption-top fs-3 fw-bold">
                            Fertilization
                            Field History
                        </caption>
                        <thead>
                            <tr>
                                <th scope="col" data-cell="start">Start Date</th>
                                <th scope="col" data-cell="end">End Date</th>
                                <th scope="col" data-cell="reason">Reason</th>
                                <th scope="col" data-cell="growth">Growth Stage</th>
                                <th scope="col" data-cell="crops">Target Crops</th>
                                <th scope="col" data-cell="pests">Target Pests</th>
                                <th scope="col" data-cell="application">Application Pattern</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var activity in Model.FertilizationHistory)
                            {

                                <tr>
                                    <td data-cell="start">@activity.StartDate.Date.ToShortDateString()</td>
                                    <td data-cell="end">@activity.EndDate.Date.ToShortDateString()</td>
                                    <td data-cell="reason">@activity.Reason</td>
                                    <td data-cell="growth">@activity.GrowthStage</td>
                                    <td data-cell="crops">@activity.TargetCrops</td>
                                    <td data-cell="pests">@activity.TargetPests</td>
                                    <td data-cell="application">@activity.ApplicationPattern</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                }

                if (Model.SprayingHistory.Count > 0)
                {
                    <table class="table">
                        <caption class="caption-top fs-3 fw-bold">Spraying Field History</caption>
                        <thead>
                            <tr>
                                <th scope="col" data-cell="start">Start Date</th>
                                <th scope="col" data-cell="end">End Date</th>
                                <th scope="col" data-cell="reason">Reason</th>
                                <th scope="col" data-cell="growth">Growth Stage</th>
                                <th scope="col" data-cell="crops">Target Crops</th>
                                <th scope="col" data-cell="pests">Target Pests</th>
                                <th scope="col" data-cell="application">Application Pattern</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var activity in Model.SprayingHistory)
                            {

                                <tr>
                                    <td data-cell="start">@activity.StartDate.Date.ToShortDateString()</td>
                                    <td data-cell="end">@activity.EndDate.Date.ToShortDateString()</td>
                                    <td data-cell="reason">@activity.Reason</td>
                                    <td data-cell="growth">@activity.GrowthStage</td>
                                    <td data-cell="crops">@activity.TargetCrops</td>
                                    <td data-cell="pests">@activity.TargetPests</td>
                                    <td data-cell="application">@activity.ApplicationPattern</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                }

                if (Model.IrrigationHistory.Count > 0)
                {
                    <table class="table">
                        <caption class="caption-top fs-3 fw-bold">Irrigation Field History</caption>
                        <thead>
                            <tr>
                                <th scope="col" data-cell="start">Start Date</th>
                                <th scope="col" data-cell="end">End Date</th>
                                <th scope="col" data-cell="reason">Reason</th>
                                <th scope="col" data-cell="growth">Growth Stage</th>
                                <th scope="col" data-cell="crops">Target Crops</th>
                                <th scope="col" data-cell="application">Application Pattern</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var activity in Model.IrrigationHistory)
                            {

                                <tr>
                                    <td data-cell="start">@activity.StartDate.Date.ToShortDateString()</td>
                                    <td data-cell="end">@activity.EndDate.Date.ToShortDateString()</td>
                                    <td data-cell="reason">@activity.Reason</td>
                                    <td data-cell="growth">@activity.GrowthStage</td>
                                    <td data-cell="crops">@activity.TargetCrops</td>
                                    <td data-cell="application">@activity.ApplicationPattern</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                }

                if (Model.PlantingHistory.Count > 0)

                {
                    <table class="table">
                        <caption class="caption-top fs-3 fw-bold">Planting Field History</caption>
                        <thead>
                            <tr>
                                <th scope="col" data-cell="start">Start Date</th>
                                <th scope="col" data-cell="end">End Date</th>
                                <th scope="col" data-cell="target">Target Crop</th>
                                <th scope="col" data-cell="quantity">Quantity Description</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var activity in Model.PlantingHistory)
                            {

                                <tr>
                                    <td data-cell="start">@activity.StartDate.Date.ToShortDateString()</td>
                                    <td data-cell="end">@activity.EndDate.Date.ToShortDateString()</td>
                                    <td data-cell="crop">@activity.Crop</td>
                                    <td data-cell="quantity">@activity.QuantityDescription</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                }

                if (Model.HarvestHistory.Count > 0)

                {
                    <table class="table">
                        <caption class="caption-top fs-3 fw-bold">Harvesting Field History</caption>
                        <thead>
                            <tr>
                                <th scope="col" data-cell="start">Start Date</th>
                                <th scope="col" data-cell="end">End Date</th>
                                <th scope="col" data-cell="status">Crop Status</th>
                                <th scope="col" data-cell="target">Target Crops</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var activity in Model.HarvestHistory)
                            {

                                <tr>
                                    <td data-cell="start">@activity.StartDate.Date.ToShortDateString()</td>
                                    <td data-cell="end">@activity.EndDate.Date.ToShortDateString()</td>
                                    <td data-cell="crop">@activity.CropStatus</td>
                                    <td data-cell="quantity">@activity.TargetCrops</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                }

                if (Model.PruningHistory.Count > 0)

                {
                    <table class="table">
                        <caption class="caption-top fs-3 fw-bold">Pruning Field History</caption>
                        <thead>
                            <tr>
                                <th scope="col" data-cell="start">Start Date</th>
                                <th scope="col" data-cell="end">End Date</th>
                                <th scope="col" data-cell="reason">Reason</th>
                                <th scope="col" data-cell="growth">Growth Stage</th>
                                <th scope="col" data-cell="target">Target Crops</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var activity in Model.PruningHistory)
                            {

                                <tr>
                                    <td data-cell="start">@activity.StartDate.Date.ToShortDateString()</td>
                                    <td data-cell="end">@activity.EndDate.Date.ToShortDateString()</td>
                                    <td data-cell="reason">@activity.Reason</td>
                                    <td data-cell="quantity">@activity.GrowthStage</td>
                                    <td data-cell="target">@activity.TargetCrops</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                }
            }

        </div>
        <a class=" [ fs-3 fw-bold btn mx-2 ] go-back-btn rounded-circle" asp-area="" asp-controller="CropTracking" asp-action="Add">&#8617;</a>
    </div>
</section>
